form
{
    margin-left:auto;
    margin-right:auto;
    width: 350px;
    padding: 20px;
    border: 20px black outset;
}

fieldset
{
    border-bottom : 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

body
{
    display:block;
    text-align:center;
}

table
{
    margin-left:auto;
    margin-right:auto;
    width: 350px;
}

.error
{
    margin-left:auto;
    margin-right:auto;
    max-width : 400px;
    color:red;
}

.allsafe-input
{
    width: 200px;
    height:25px;
    margin-left:auto;
    margin-right:auto;
}

#usersTable
{
    margin-left:auto;
    margin-right:auto;
    width : 700px;
}

#usersTable tr *
{
    text-align: center;
}

.allsafe-notification-container
{
    position: absolute;
    margin-left: 15px;
    padding: 15px;
    border: 20px black outset;
}

.allsafe-notification-container .alert
{
    max-width:250px;
}
#nbConnectedUsers
{
    margin-bottom: auto;
}